<div id="index">
    <section class="slide">
        <div id="slide" class="owl-carousel">
            <div class="contenido">
                <h3 class="text-center font-weight-bold text-uppercase wow animated bounceInLeft" data-wow-delay=".3s">Desarrollo de aplicaciones y sitios web</h3>
                <h4 class="text-center wow animated bounceInLeft" data-wow-delay=".5s">Creado para las necesidades de su negocio, empresa, comercio, tienda, PYME, autónomo o profesional</h4>
                <img src="../../assets/img/img-slide-integral.jpg" alt="Promociona tu marca">
            </div>
            <div class="contenido">
                <h3 class="text-center font-weight-bold text-uppercase wow" data-wow-delay=".3s">Adaptabilidad y Confiabilidad</h3>
                <h4 class="text-center wow" data-wow-delay=".5s">Use nuestras soluciones en cualquier dispositivo, no importa la resolución de su pantalla Slotcore se adaptará.</h4>
                <img src="../../assets/img/img-slide-vigile.jpg" alt="Mejor tecnología">
            </div>
            <div class="contenido">
                <h3 class="text-center font-weight-bold text-uppercase wow" data-wow-delay=".3s">CUIDA TU FAMILIA ESTES DONDE ESTES</h3>
                <h4 class="text-center wow" data-wow-delay=".5s">Contamos con un equipo de técnicos calificados para solucionar cualquier tipo de problema.</h4>
                <img src="../../assets/img/img-slide-familia.jpg" alt="Sitios web unicos">
            </div>
        </div>
    </section>
    <main class="nuestros-servicios">
        <div class="container">
            <h1 class=" text-center">Nuestros servicios</h1>
            <div class="row">
                <article class="col-md-6 col-lg-5 article-1 wow zoomIn">
                    <img src="../../assets/img/img-servicio-6.svg" alt="">
                    <div class="contenido-servicio">
                        <a class="h5" href="service.html">Diseño de Paginas Web</a>
                        <p class="hidden-sm-down">Planificamos, diseñamos y desarrollamos la web que se ajuste a las necesidades de su empresa. Combinando estrategia, creatividad y diseño creamos sitios web que buscan el mayor impacto a la hora de comunicar su negocio.</p>
                    </div>
                </article>

                <article class="col-md-6 col-lg-5 article-2 wow zoomIn" data-wow-delay=".25s">
                    <img src="../../assets/img/img-servicio-5.svg" alt="">
                    <div class="contenido-servicio">
                        <a class="h5" href="service.html">Desarrollo de Apps</a>
                        <p class="hidden-sm-down">Creamos aplicaciones a medida para smartphones y tablets en los sistemas operativos que necesites. Te asesoraremos de las mejores funcionalidades para tu proyecto y desarrollaremos un plan de trabajo adaptado a tus necesidades.</p>
                    </div>
                </article>

                <article class="col-md-6 col-lg-5 article-3 wow zoomIn" data-wow-delay=".5s">
                    <img src="../../assets/img/img-servicio-3.svg" alt="">
                    <div class="contenido-servicio">
                        <a class="h5" href="service.html">Desarrollo de Software a Medida</a>
                        <p class="hidden-sm-down">Nuestros experimentados ingenieros construyen aplicaciones móviles tomando en cuenta las necesidades de nuestros clientes y su público usuario objetivo y poniéndolas a su disposición en las plataformas más importantes: iOS, Android y Windows Phone.</p>
                    </div>
                </article>

                <article class="col-md-6 col-lg-5 article-4 wow zoomIn text-md-right offset-lg-2" data-wow-delay=".75s">
                    <img src="../../assets/img/img-servicio-4.svg" alt="">
                    <div class="contenido-servicio">
                        <a class="h5" href="service.html">Consultoría Funcional y Tecnológica</a>
                        <p class="hidden-sm-down">A través de nuestro servicio de mesa de ayuda, podemos brindar atención a todas las necesidades de nuestros clientes de manera personalizada, tanto como a sus usuarios.</p>
                    </div>
                </article>

                <article class="col-md-6 col-lg-5 article-5 wow zoomIn text-md-right offset-lg-2" data-wow-delay="1s">
                    <img src="../../assets/img/img-servicio-1.svg" alt="">
                    <div class="contenido-servicio">
                        <a class="h5" href="service.html">Soporte y Mantenimiento</a>
                        <p class="hidden-sm-down">A través de nuestro servicio de mesa de ayuda, podemos brindar atención a todas las necesidades de nuestros clientes de manera personalizada, tanto como a sus usuarios.</p>
                    </div>
                </article>

                <article class="col-md-6 col-lg-5 article-6 wow zoomIn text-md-right offset-lg-2" data-wow-delay="1.25s">
                    <img src="../../assets/img/img-servicio-2.svg" alt="">
                    <div class="contenido-servicio">
                        <a class="h5" href="service.html"> Suministro de Equipos e Instalaciones</a>
                        <p class="hidden-sm-down">Nuestros experimentados ingenieros construyen aplicaciones móviles tomando en cuenta las necesidades de nuestros clientes y su público usuario objetivo y poniéndolas a su disposición en las plataformas más importantes: iOS, Android y Windows Phone.</p>
                    </div>
                </article>
            </div>
        </div>
    </main>
    <section class="soluciones">
        <div class="container">
            <h1 class="text-center">Nuestras Soluciones</h1>
            <div id="soluciones" class="owl-carousel">
                <a href="#">
                    <h4 class="text-center">Gestión de Almacén</h4>
                    <img src="../../assets/img/img-solucion-1.jpg" alt="Gestión de Almacén">
                </a>
                <a href="#">
                    <h4 class="text-center">Gestión de Transporte</h4>
                    <img src="../../assets/img/img-solucion-2.jpg" alt="Gestión de Transporte">
                </a>
                <a href="#">
                    <h4 class="text-center">Gestión de Producción</h4>
                    <img src="../../assets/img/img-solucion-3.jpg" alt="Gestión de Producción">
                </a>
            </div>
        </div>
    </section>
</div>
